body {
    background-color: #fafafa;
    font-family: 'Roboto', serif;
    margin: 0;
    padding: 0;
}

#navbar-dup {
    min-height: 10vh;
    background-color: #f2f2f2 !important;
    z-index: 1;
}
.navbar .navbar-nav .nav-link:hover {
    color: #000000;
}

@media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {
        padding: 1.5em 0.5em;
    }

    .navbar {
        padding: 0;
    }

        .navbar .navbar-brand {
            padding: 0 0.7em;
        }
}

.navbar .navbar-nav .nav-link {
    position: relative;
}

    .navbar .navbar-nav .nav-link::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #ff0000;
        color: transparent;
        width: 0%;
        content: '';
        height: 3px;
        transition: all 0.5s;
    }

    .navbar .navbar-nav .nav-link:hover::after {
        width: 100%;
    }
.nav-link {
    color: #2d466c !important;
    font-family: 'Roboto', serif !important;
    font-size: 1.3em;
    position: relative;
    margin-right: 2em;
}

#content {
    background-color: #fafafa;
    width: 100%;
    min-height: 75vh;
    color: #202020;
}


/*parallax styling*/
#parallax-image{
    height:88vh;
    width: 99.1vw;
}
.parallax-window {
    height: 100%;
}
.parallax-overlay {
    text-align:center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 35em;
    height: 8em;
    background-color: #f2f2f2;
    opacity: .85;
}
.parallax-overlay-text{
    font-size: 2em;
}

/*footer Styling*/
.custom-footer {
    width: 100%;
    background-color: #f2f2f2;
    height: 15vh;
}

.social-links{
    text-decoration: none;
}
.social-icons {
    color: #202020;
}
.social-icons:hover{
    color: #424242;
}




#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}

    #photos img {
        padding: .2em;
    }
